<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ColorSudoku</title>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <script type="text/javascript" src="/js/actions.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body onload="start()">
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<!--/*@thymesVar id="scores" type="java.util.List<sk.tuke.colorsudoku.entity.Score>"*/-->
<!--/*@thymesVar id="rating" type="java.util.List<sk.tuke.colorsudoku.entity.Rating>"*/-->
<!--/*@thymesVar id="comments" type="java.util.List<sk.tuke.colorsudoku.entity.Comment>"*/-->
<!--/*@thymesVar id="userController" type="sk.tuke.colorsudoku.server.controller.UserController"*/-->
<!--/*@thymesVar id="colorSudokuController" type="sk.tuke.colorsudoku.server.controller.ColorSudokuController"*/-->

<div style="display: flex" th:replace="fragments::header"/>



<!--This is the main field-->

<div id="mainContent">
    <div id="leftSide">
        <div id="users_rating" style="display: flex">
            <div style="padding-top: 25px">
                <h2>My rating:</h2>
            </div>
            <div id="my_rating" style="font-size: 42px; color: orange">
                Stars:
            </div>
            <div id="my_rating1" style="font-size: 42px">
                star
            </div>
        </div>

        <div id="scoreDiv" style="padding-top: 60px">
            <h2>Top 10 scores</h2>
            <ol >
                <li class="myList" th:each="score : ${scores}">
                    <span th:text="${score.player}"/>
                    <span th:text="${score.points}"/>
                </li>
            </ol>
        </div>
    </div>


    <div id="center">
        <div id="panel">
            <div class="dropdown" style="display: flex; align-items: center; margin-left: 5px">
                <button onclick="dropdownMenu()" class="dropbtn">New Game</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/colorsudoku/new?difficulty=1">Easy</a>
                    <a href="/colorsudoku/new?difficulty=2">Medium</a>
                    <a href="/colorsudoku/new?difficulty=3">Hard</a>
                    <a href="/colorsudoku/new?difficulty=99">Test</a>
                </div>
            </div>
            <div id="operationPanel">
                <div>
                    <div id="operation">
                        <h3 style="margin-right: 5px">Current operation:</h3>

                        <a href="/colorsudoku/note" th:text='${@colorSudokuController.noting ? "Note" : "Fill"}'/>
                    </div>
                </div>

            </div>

            <div id="hintsPanel">
                <div id="hints" style="display: flex; align-items: baseline">
                    <h3 style="margin-right: 5px">Number of hints: </h3>

                    <a th:text="${@colorSudokuController.numberOfHints}"/>
                </div>

            </div>



        </div>
        <div id="colorPalette">
            <a href="/colorsudoku?color=yellow" rel="keep-params">
                <img id="yellow" class="color_palette" src="/images/tiles/YELLOW.png" style="margin-left: 2px"
                     onmouseover="this.style.cursor = 'pointer';">
            </a>
            <a href="/colorsudoku?color=orange">
                <img id="orange" class="color_palette" src='/images/tiles/ORANGE.png'
                     onmouseover="this.style.cursor = 'pointer';">
            </a>
            <a href="/colorsudoku?color=red">
                <img id="red" class="color_palette" src='/images/tiles/RED.png'
                     onmouseover="this.style.cursor = 'pointer';">
            </a>
            <a href="/colorsudoku?color=magenta">
                <img id="magenta" class="color_palette" src='/images/tiles/MAGENTA.png' style="margin-left: 6px"
                     onmouseover="this.style.cursor = 'pointer';">
            </a>
            <a href="/colorsudoku?color=pink">
                <img id="pink" class="color_palette" src='/images/tiles/PINK.png'
                     onmouseover="this.style.cursor = 'pointer';">
            </a>
            <a href="/colorsudoku?color=darkgray">
                <img id="darkgray" class="color_palette" src='/images/tiles/DARKGRAY.png'
                     onmouseover="this.style.cursor = 'pointer';">
            </a>
            <a href="/colorsudoku?color=green">
                <img id="green" class="color_palette" src='/images/tiles/GREEN.png' style="margin-left: 6px"
                     onmouseover="this.style.cursor = 'pointer';">
            </a>
            <a href="/colorsudoku?color=blue">
                <img id="blue" class="color_palette" src='/images/tiles/BLUE.png'
                     onmouseover="this.style.cursor = 'pointer';">
            </a>
            <a href="/colorsudoku?color=cyan">
                <img id="cyan" class="color_palette" src='/images/tiles/CYAN.png'
                     onmouseover="this.style.cursor = 'pointer';">
            </a>
            <br/>
        </div>
        <span id="howToPlay">
            How to play:<br>
            Choose color from
            <a class="howToPlayText" onmouseover="highlightPalette()" onmouseout="changeBack('colorPalette')"> color palette.</a>
            Then you can fill the squares with that color.<br>
            <a class="howToPlayText" onmouseover="highlightBackground('operation')"
               onmouseout="changeBack('operation')">Here you can change "Fill" to "Note" and back.</a><br>
            <a class="howToPlayText" onmouseover="highlightBackground('hints')" onmouseout="changeBack('hints')">Here is your number of hints.</a><br>
            If number of hints reaches 0 then you have failed!
            <button class="howToPlayButton" type="button" onclick="generateField()">Got it!</button>
        </span>

        <span id="sud" th:utext="${@colorSudokuController.getHtmlField}"/>

        <span id="win">
            <div style="display: flex">
                Congratulations!!!<br>
                You have solved the sudoku.
                Your score is: <span style="font-size: 32px" th:text="${@colorSudokuController.getScore}"/>
            </div>

            <div style="margin-top: 10px">
                <button class="dropbtn" type="button" onclick="showCommentForm()">Add comment</button>
                <button class="dropbtn" type="button" onclick="rateMyGame()">Rate the game</button>
            </div>

        </span>
        <span id="lose">
            You have failed.<br>
            Please start a new game.
            <div style="margin-top: 10px">
                <button class="dropbtn" type="button" onclick="showCommentForm()">Add comment</button>
                <button class="dropbtn" type="button" onclick="rateMyGame()">Rate the game</button>
            </div>
        </span>

        <span id="stars" style="display: none">
            <div class="rating rating2">
                <a class="stars" href="" title="Give 5 stars" onclick="rateGame(5)">★</a>
                <a class="stars" href="" title="Give 4 stars" onclick="rateGame(4)">★</a>
                <a class="stars" href="" title="Give 3 stars" onclick="rateGame(3)">★</a>
                <a class="stars" href="" title="Give 2 stars" onclick="rateGame(2)">★</a>
                <a class="stars" href="" title="Give 1 star" onclick="rateGame(1)">★</a>
            </div>
        </span>

        <span id="comment" style="display: none">
            <textarea id="myTextarea" placeholder="New comment"></textarea>
            <button id="submitComment" name="Submit" onclick="addComment()">Submit</button>
        </span>

    </div>

    <div id="rightSide">
        <div style="display: flex; padding-bottom: 60px">
            <div style="padding-top: 25px">
                <h2>Game rating:</h2>
            </div>
            <div id="rating" style="font-size: 42px; color: orange">
                Stars:
            </div>
            <div id="rating1" style="font-size: 42px">
                star
            </div>
        </div>


        <div id="commentDiv">
            <h2>Comments</h2>
            <ol style="list-style-type: none">
                <li class="myList" th:each="comment : ${comments}">
                    <span th:text="${comment.player}"/>:
                    <span th:text="${comment.comment}"/>
                </li>
            </ol>
        </div>

    </div>

</div>
<div th:replace="fragments::footer"/>

<script th:inline="javascript">
    /*<![CDATA[*/


    let isSolved = /*[[${@colorSudokuController.isSolved}]]*/ 'default';
    let isFailed = /*[[${@colorSudokuController.isFailed}]]*/ 'default';
    if (isSolved === true) {
        document.getElementById("sud").style.display = "none";
        document.getElementById("win").style.display = "block";
        document.getElementById("colorPalette").style.pointerEvents = "none";
        document.getElementById("sud").style.pointerEvents = "none";
        document.getElementById("operation").style.pointerEvents = "none";
    }
    if (isFailed === true) {
        document.getElementById("sud").style.display = "none";
        document.getElementById("lose").style.display = "block";
        document.getElementById("colorPalette").style.pointerEvents = "none";
        document.getElementById("sud").style.pointerEvents = "none";
        document.getElementById("operation").style.pointerEvents = "none";
    }

    function start(){ //show ratings onload
        showStars();
        showMyStars();
    }

    function showStars() { //show average rating stars
        let myRating = /*[[${@colorSudokuController.getRating}]]*/ '0';
        let textRating = "";
        for (let i = 0; i < myRating; i++) {
            textRating += "★";
        }
        document.getElementById("rating").innerHTML = textRating;
        let textRating1 = "";
        for (myRating; myRating < 5; myRating++) {
            textRating1 += "★";
        }
        document.getElementById("rating1").innerHTML = textRating1;

        let regex = /(.*\/colorsudoku\/new.*)/g;
        let url = window.location.href;
        if (url.match(regex)) {
            howToPlay();
        }
    }

    function showMyStars() { // show my rating stars
        let myRating = /*[[${@colorSudokuController.getUserRating}]]*/ '0';
        let textRating = "";
        for (let i = 0; i < myRating; i++) {
            textRating += "★";
        }
        document.getElementById("my_rating").innerHTML = textRating;
        let textRating1 = "";
        for (myRating; myRating < 5; myRating++) {
            textRating1 += "★";
        }
        document.getElementById("my_rating1").innerHTML = textRating1;

        let regex = /(.*\/colorsudoku\/new.*)/g;
        let url = window.location.href;
        if (url.match(regex)) {
            howToPlay();
        }
    }

    function howToPlay(){ // show element howToPlay and hide sudoku field
        document.getElementById("howToPlay").style.display = "block";
        document.getElementById("sud").style.display = "none";
        document.getElementById("colorPalette").style.pointerEvents = "none";
        document.getElementById("operation").style.pointerEvents = "none";
    }

    function rateGame(newRating) { //add rating to database
        let player = /*[[${@userController.loggedUsers.username}]]*/ 'Player';
        let rating = parseInt(newRating);
        let data = {
            game: "color_sudoku",
            player: player,
            rating: rating,
            ratedOn: Date.now(),
        };
        $.ajax({
            contentType: "application/json",
            type: "post",
            url: "http://localhost:8080/api/rating",
            data: JSON.stringify(data),

            success: function (data) {

            },
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
                alert("Failed to send, please try again!");
            }
        });
        showMyStars();
    }

    function addComment() { // add comment tu database
        let newComment = document.getElementById("myTextarea").value;
        let player = /*[[${@userController.loggedUsers.username}]]*/ 'Player';
        let data = {
            game: "color_sudoku",
            player: player,
            comment: newComment,
            commentedOn: Date.now(),
        };
        $.ajax({
            contentType: "application/json",
            type: "post",
            url: "http://localhost:8080/api/comment",
            data: JSON.stringify(data),

            success: function (data) {
                document.getElementById("comment").style.display = "none";
            },
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
                alert("Failed to send, please try again!");
            }
        });
    }


    /*]]>*/
</script>

</body>
</html>