<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="userController" type="sk.tuke.colorsudoku.server.controller.UserController"*/-->

<div style="display: flex" th:fragment="header">
  <h1 style="flex: 1">Welcome to <a href="/">Color Sudoku!</a></h1>
  <span th:if="${@userController.logged}">
        Logged as: <span th:text="${@userController.loggedUser.login}"/>
        <a href="/logout">Logout</a><br/>
    </span>

  <span th:if="not ${@userController.logged}">
        Not logged. Please
        <a href="/">login or register</a>.<br/>
    </span>
</div>

<div th:fragment="footer">
  <hr/>
  This is colorsudoku! Developed at TUKE.
</div>

</html>
