<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="userController" type="sk.tuke.colorsudoku.server.controller.UserController"*/-->

<div style="display: flex; background-color: darkslategrey; color: beige; padding: 12px" th:fragment="header">
  <h1 style="flex: 1; color: beige">Welcome to <a style="color: beige" href="/">Color Sudoku!</a></h1>
  <span style="margin-top: 8px;" th:if="${@userController.logged}">
        <span style="color: beige" th:text="${@userController.loggedUsers.username}"/>
        <a style="color: beige" href="/logout">Logout</a><br/>
    </span>

  <span style="margin-top: 8px; color: beige" th:if="not ${@userController.logged}">
        Not logged. Please
        <a style="color: beige" href="/">login or register</a>.<br/>
    </span>
</div>

<div th:fragment="footer">
  <hr/>
  This is colorsudoku! Developed at TUKE.
</div>

</html>
