<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colorsudoku</title>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>
<!--/*@thymesVar id="userController" type="sk.tuke.colorsudoku.server.controller.UserController"*/-->

<div th:replace="fragments::header"/>

<span th:if="not ${@userController.logged}">
        <form action="/login" method="post">
            Login: <input type="text" name="login"/><br/>
            Password: <input type="password" name="password"/><br/>
            <input type="submit"/>
        </form>
    </span>

<h2>Our favorite games</h2>
<ul>
    <li><a href="/colorsudoku/new?difficulty=1">Colorsudoku</a></li>
</ul>

<div th:replace="fragments::footer"/>
</body>
</html>
