<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colorsudoku</title>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>
<!--/*@thymesVar id="userController" type="sk.tuke.colorsudoku.server.controller.UserController"*/-->

<div th:replace="fragments::header"/>

<span id="login" th:if="not ${@userController.logged}">
        <form class="myForm" action="/login" method="post">
            <label class="labels" for="username">Login:</label> <input class="inputs" id="username" type="text" name="username" placeholder="Your login"/><br/>
            <label class="labels" for="password">Password:</label> <input class="inputs" id="password" type="password" name="password" placeholder="Your password"/><br/>
            <input type="submit" value="Log In"/>
        </form>
        <a href="/registration">Registration</a>
    </span>

<h2>Our favorite games</h2>
<ul>
    <li><a href="/colorsudoku/new?difficulty=1">Colorsudoku</a></li>
</ul>

<div th:replace="fragments::footer"/>

<script>

</script>
</body>
</html>
